rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Función básica de autenticación
    function isAuthenticated() {
      return request.auth != null;
    }

    // Permitir todas las operaciones si el usuario está autenticado
    match /{document=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }
  }
}
