<div class="row">
    <div class="home fadeIn animated">
    </div>
</div>

<div class="fondoBotones">
    <app-navbar></app-navbar>
    <app-botones></app-botones>
</div>

<app-banner-central></app-banner-central>
<app-tarjeta-desplazadas id="servicio"></app-tarjeta-desplazadas>

<div class="fondoFiguraGeometrica">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 595.3 841.9" style="enable-background:new 0 0 595.3 841.9;" xml:space="preserve">

        <path class="st0" d="M360.5,117.7L58.4,419.8c-19.6,19.6-19.6,51.3,0,70.9L361,793.2L360.5,117.7z"/>
        </svg>
</div>


<app-socio></app-socio>
<app-tecnologias id="tecnologia"></app-tecnologias>
<app-contacto-home id="contacto"></app-contacto-home>

<app-footer></app-footer>