<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4 tipografiaBotones" data-aos="fade-up">
            <img src="../../assets/img/btn2.png" style="max-width: 180px; max-height: 180px;">
            <h1>Análisis<b style="color: #8b44ba;"> del problema </b></h1>
            <p class="h3">No hay una sola forma de resolver el problema.
                <B> Nos enfocamos </B> en ver cual es el mejor camino para llegar al resultado esperado.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">Ver ejemplos &raquo;</a></p>-->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 " data-aos="fade-up">
            <img src="../../assets/img/btn1.png" style="max-width: 180px; max-height: 180px;">

            <h1 class="titularesTipografia">Diseño <b style="color: #8b44ba;"> intuitivo </b></h1>
            <p class="h3">Todo entra por la vista y un
                <B>buen desarrollo </B>no puede estar acompañado de un mal diseño. La unión hace la diferencia.</p>
            <!--  <p><a class="btn btn-secondary" href="#" role="button">Ver ejemplos &raquo;</a></p>-->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4" data-aos="fade-up">
            <img src="../../assets/img/btn3.png" style="max-width: 180px; max-height: 180px;">
            <h1 class="titularesTipografia">Programación <b style="color: #8b44ba;"> funcional </b></h1>
            <p class="h3"> Nos enfocamos en
                <B>"Qué"</B> estamos haciendo y no en
                <B>"Cómo"</B> se está haciendo. Daremos el mejor resultado posible </p>
            <!--   <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->