<div class="sidenav">
    <div class="login-main-text">
        <h2>Bienvenido a<br> <b>Angema</b></h2>
        <p>Por favor ingrese su usario y contraseña.</p>
    </div>
</div>
<div class="mainLogin">
    <div class="col-md-6 col-sm-12">
        <div class="login-form loginSize">
            <form>
                <div class="form-group">
                    <label>DATOS PERSONALES</label>
                    <input type="text" minlength="3" maxlength="45" name="nombre" id="nombre" class="form-control" placeholder="Nombre" autofocus required>
                </div>
                <div class="form-group">
                    <input type="text" minlength="3" maxlength="45" name="apellido" id="apellido" class="form-control" placeholder="Apellido" required>
                </div>

                <div class="form-group">
                    <input type="text" minlength="3" maxlength="45" name="nombre_negocio" id="nombre_negocio" class="form-control" placeholder="Nombre del negocio">
                </div>
                <div class="form-group">
                    <input type="text" minlength="3" maxlength="45" name="rubro_negocio" id="rubro_negocio" class="form-control" placeholder="Rubro del negocio">
                </div>

                <div class="form-group">

                    <select class="custom-select form-control" id="inputGroupSelect01">
                          <option selected>País</option>
                          <option value="1">Argentina</option>
                          <option value="3">Brasil</option>
                          <option value="3">Colombia</option>
                          <option value="2">Chile</option>
                          <option value="3">España</option>
                          <option value="3">México</option>
                          <option value="3">Uruguay</option>
                          <option value="3">Otro..</option>


                        </select>
                </div>
                <button type="submit" class="btn botonAceptar">Aceptar</button>
                <button type="submit" class="btn botonCancelar">Cancelar</button>


            </form>
        </div>
    </div>
</div>

<div class="cuadradoVioletaLogin"></div>